# {{ ansible_managed }}

# Main Config
pid={{ddclient_pid.directory + "/" +  ddclient_pid.file }}
{% if ddclient_conf.default is defined %}
{% for key, value in  ddclient_conf.default.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

{% if ddclient_conf.dyndns is defined %}
{% for name in ddclient_conf.dyndns %}
# {{ name.name | default("Blank") }}
{% if name.protocol is defined %}
protocol={{ name.protocol }}
{% endif -%}
{% if name.use is defined %}
use={{ name.use }}
{% endif -%}
{% if name.server is defined %}
server={{ name.server }}
{% endif -%}
{% if name.ssl is defined %}
ssl={{ name.ssl }}
{% endif -%}
{% if name.zone is defined %}
zone={{ name.zone }}
{% endif %}
{% if name.login is defined %}
login={{ name.login }}
{% endif -%}
{% if name.password is defined %}
password={{ name.password }}
{% endif -%}
{% if name.zone is defined %}
zone={{ name.zone }}
{% endif -%}
{% if name.address is defined %}
{{ name.address }}
{% endif %}

{% endfor %}
{% endif %}
